*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../../Assets/Home/Background.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

body > :not(header):not(nav) {
    background: none; 
}
